doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title= title
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Maven+Pro")
  link(rel="stylesheet", href="styles.css")
body
  .container
    h2 Alexander Tatchin 
      span.blue
        strong | Full stack web development 
      span.green
        strong | Creative solutions
    a(href="/"): div.link Bio
    a(href="about"): div.link Skills
    a(href="about"): div.link Proofs
    
    
    
    block content
  
  p My name is Alexander Tatchin. I'm doing full stack web development mostly using Javascript and it's variations.
  p I beliave that a good designed solution has to be ruled by it's purpose. I'm against overcomplication and stand for clever minimalism. 
  p (c) 2016 sancau