body {
  margin-top: 20px;
  background-color: #ffffff;
  background-image: url('images/background-white.jpg');
  color: #222;
  font-family: 'Maven Pro', sans-serif;
}

a {
  text-decoration: none !important;
  color: #222;
}

.blue {
  color: #217C7E;  
}

.red {
  color: #9A3334;
}

.link {
  padding-left: 10px;
  display: block;
  width: 160px;
  font-size: 48px;
  border: 2px solid #333;
  border-radius: 10px;
  margin-bottom: 10px; 
}

.link:hover {
  border: 2px solid #217C7E;  
  color: #217C7E;
  font-weight: bold;
}

.container {
  border-left: 20px solid #217C7E;
  border-right: 20px solid #217C7E;
}
